.container{
    width: 100%;
}
.row1{
    width: 50%;
    float: left;
    border: 1px solid red;
    padding: 20px;
    box-sizing: border-box;
}
.row2{
    width: 50%;
    float: right;
    border: 1px solid red;
    padding:20px;
    box-sizing: border-box;
    /*If you provide box-sizing: box-sizing; then it will take the paddding inside box;*/
}